NEXT_PUBLIC_APP_NAME="Product Compliance Management Demo"
NEXT_PUBLIC_DEMO_MODE=true
OPENAI_API_KEY=
OPENAI_MODEL=
NEXT_PUBLIC_OSAPIENS_MOCK_API_URL=http://localhost:3000/api/osapiens
NEXT_PUBLIC_SUPPLIER_MOCK_API_URL=http://localhost:3000/api/suppliers
